header#main-header {
  padding: 30px 0;
  color: $white;
  position: relative;
  z-index: 9999;

  nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul.main-nav {
      display: flex;
      gap: 40px;
    }

    .dropdown {
      display: none;

      .dropdown-menu {
        z-index: -1;
        position: fixed;
        inset: 0;
        background: url(/images/base/showcase-bg.jpg) center / cover fixed;
        display: flex;
        padding-top: 100px;
        text-align: center;
        justify-content: center;
        transition: 0.3s all ease-in-out;
        visibility: hidden;
        opacity: 0;

        ul {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }
      }

      input[type="checkbox"]:checked + .dropdown-menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
