$greenish-cyan: #00eebd;
$cyan-blue-light: #173352;
$cyan-blue-dark: #0a1f35;
$bluish-grey-light: #a7b4c3;
$bluish-grey-dark: #8296ab;
$grey-light: #f5f5f5;
$grey-dark: #dbdbdb;
$white: #fff;

$gradients: (
  normal: (
    #0a1f35,
    #040d17,
  ),
  light: (
    #346296,
    #081729,
  ),
  dark: (
    #071626,
    #07162600,
  ),
);

$oxanium-font: "Oxanium", cursive;
$inter-font: "Inter", sans-serif;
